// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


.app {
    min-height: 100vh;
}

@import "utilities/color.scss";

@import "components/header.scss";
@import "components/main.scss";
@import "components/footer.scss";
@import "components/graph-container.scss";
@import "components/hero.scss";

.highlighted-topic {
    min-height: calc(100vh - 5.9rem);
}